In [2]:
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas
import pandas as pd
import numpy as np

In [12]:
ctx = snowflake.connector.connect(user='juan.yam@ext.cemex.com',
                                     account='hg45590', 
                                     region = 'East-US-2.azure',
                                     warehouse='PRD_LND_MRP_SAP', 
                                     database='PRD_TDS_MX_PLANOPER_CONCRETO',       
                                     schema ='EXOP',
                                     authenticator="externalbrowser",
                                     autocommit=True)

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [19]:
cs = ctx.cursor()
cs.execute("DROP TABLE IK17" )
cs.close()

In [ ]:
cs.execute('CREATE TABLE "IK172" ("Linea_seleccionada" text, "Documento_medicion" text,	"Punto_de_medida" text, "Fecha" text, "Hora_medicion" text,	 "ValMed_Val_total_cont" text, "UnidadCaracteristica" text,	 "Creado_por" text,	 "Posicion_de_medida" text,	"Diferencia_val_cont" text,	"Equipo" text,	"Texto1" text,"Texto2" text)')

# Procesamiento de los datos de las bases

In [119]:
# FUNCIONES

def Columnames(database, namebase):
    deletecol = 0
    deletecol = [lista for lista in a if "Unnamed" in lista]
    if(deletecol == 0):
        database = database.drop(columns = deletecol)
    
    database = database.loc[0:9,:]
    new_names = []
    for i in database.columns.values:
        result = i.replace(' ','_')
        result = result + namebase
        new_names.append(result)
    database.columns = new_names
    return database

In [112]:
import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [4]:
df = pd.read_excel("DELIV.xlsx", sheet_name='Sheet1')
df2 = pd.read_excel("DSERV.xlsx", sheet_name='Sheet1')
df3 = pd.read_excel("EMP.xlsx", sheet_name='Sheet1')
df4 = pd.read_excel("CALL.xlsx", sheet_name='Sheet1')

In [120]:
DELIV = df
DSERV = df2
EMP = df3
CALL = df4

In [121]:
DELIV = Columnames(DELIV, "_DELIV")
DSERV = Columnames(DSERV, "_DSERV")
EMP = Columnames(EMP, "_EMP")
CALL = Columnames(CALL, "_CALL")

In [122]:
DSERV = DSERV.drop(["Motivo_de_Pedido_DSERV","Texto_breve_de_material_DSERV","Producto_Comercial_DSERV","Frente_DSERV","Identif._externa_nota_de_entrega_DSERV","Cantidad_entrada_de_mercancías_DSERV","Nombre_Holding_DSERV","Nombre_Jerarquía_DSERV","Repr._Ventas_DSERV","Factura_DSERV","Posición_DSERV","Creado_el_DSERV","Hora_DSERV"], axis=1)

In [123]:
CALL = CALL.drop(CALL.columns[[1,2,3,11,12,28,29,30,32,33,34,35,36,37,38,39,45,46,47,48,50,51,53,57,58,59,60,69,70,71,73,74,75,76,77,78,79,80,81,82]], axis = 1)

In [125]:
EMP = EMP.drop(EMP.columns[[1,3,4,10,13,15,16,17]], axis = 1)

In [126]:
EMP.columns

Index(['Empleado_EMP', 'Nombre_Empleado_EMP', 'Fecha_de_Carga_EMP',
       'Hora_de_Carga_EMP', 'Hora_de_Entrada_EMP',
       'Hora_de_Fin_de_Jornada_EMP', 'Descr._Punto_Entrega_EMP',
       'Tiempo_de_Viaje_EMP', 'Entrega_EMP', 'Pedido_EMP', 'Estatus_EMP',
       'Turno_EMP'],
      dtype='object')

In [14]:
SERV['Fecha_inicio_real_SERV'] = SERV['Fecha_inicio_real_SERV'].astype(str) + " " + SERV['Hora_inicio_real_SERV'].astype(str)
SERV['In-Plant_Hour_of_Delivery_SERV'] = SERV['In-Plant_Hour_of_Delivery_SERV'].astype(str) + " " + SERV['In-Plant_Hour_of_Delivery.1_SERV'].astype(str)
SERV['In_Site_Date_SERV'] = SERV['In_Site_Date_SERV'].astype(str) + " " + SERV['In_Site_Hr_SERV'].astype(str)
SERV['Unld_Initial_Date_SERV'] = SERV['Unld_Initial_Date_SERV'].astype(str) + " " + SERV['Unld_Initial_Hr_SERV'].astype(str)
SERV['Unld_Final_Date_SERV'] = SERV['Unld_Final_Date_SERV'].astype(str) + " " + SERV['Unld_Final_Hr_SERV'].astype(str)
SERV['Date_of_Assigned_Delivery_SERV'] = SERV['Date_of_Assigned_Delivery_SERV'].astype(str) + " " + SERV['Hour_of_Assigned_Delivery_SERV'].astype(str)
SERV['Fecha_de_entrega.1_SERV'] = SERV['Fecha_de_entrega.1_SERV'].astype(str) + " " + SERV['Hora_de_entrega_SERV'].astype(str)
SERV['Fecha_real_de_fin_de_la_orden_SERV'] = SERV['Fecha_real_de_fin_de_la_orden_SERV'].astype(str) + " " + SERV['Fin_real_(hora)_SERV'].astype(str)
SERV['Fecha_TJST_SERV'] = SERV['Fecha_TJST_SERV'].astype(str) + " " + SERV['Hora_TJST_SERV'].astype(str)
SERV['Fecha_TOPL_SERV'] = SERV['Fecha_TOPL_SERV'].astype(str) + " " + SERV['Hora_TOPL_SERV'].astype(str)
SERV['Fecha_de_carga_SERV'] = SERV['Fecha_de_carga_SERV'].astype(str) + " " + SERV['Hora_de_carga_SERV'].astype(str)

In [15]:
SERV = SERV.drop(['Hora_inicio_real_SERV','In-Plant_Hour_of_Delivery.1_SERV','In_Site_Hr_SERV','Unld_Initial_Hr_SERV','Unld_Final_Hr_SERV','Hour_of_Assigned_Delivery_SERV','Hora_de_entrega_SERV','Fin_real_(hora)_SERV','Hora_TJST_SERV','Hora_TOPL_SERV','Hora_de_carga_SERV'], axis=1)